$pt-opacity-4: 0.04;
$pt-opacity-8: 0.08;
$pt-opacity-16: 0.16;
$pt-opacity-24: 0.24;
$pt-opacity-32: 0.32;
$pt-opacity-40: 0.40;
$pt-opacity-48: 0.48;
$pt-opacity-56: 0.56;
$pt-opacity-64: 0.64;
$pt-opacity-72: 0.72;
$pt-opacity-80: 0.80;
$pt-opacity-88: 0.88;
$pt-opacity-96: 0.96;